<!DOCTYPE html>
<html>
<head>
    <title>BKISC</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body class="d-flex flex-column min-vh-100">
    <header class="container-fluid bg-primary text-white p-3">
        <div class="row">
            <div class="col-12 col-md-6">
                <h1 class="my-0">BKISC Auction</h1>
            </div>
            <div class="col-12 col-md-6">
                <nav class="text-right">
                    <ul class="list-unstyled list-inline mb-0">
                        <li class="list-inline-item"><a class="text-white" href="/">Home</a></li>
                        <li class="list-inline-item"><a class="text-white" href="/login">Login</a></li>
                        <li class="list-inline-item"><a class="text-white" href="/register">Register</a></li>
                        <li class="list-inline-item"><a class="text-white" href="/logout">Logout</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main class="flex-grow-1">
